
.gridContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    background-color: #333333;
    border: solid 8px #333333;
    border-radius: 5px;
}

.gridItem {
    aspect-ratio: 1/ 1;
    border-radius: 50%;
}

.circle0 {
    background-color: #424246;
}

.circle1 {
    background-color: orange;
}

.circle2 {
    background-color: #dc1b1b;
}

.circle1DropArea {
    background-color: #49371e;
}

.circle2DropArea {
    background-color: #431e1d;
}

.gridContainerSingle {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 8px;
    padding: 8px;
}

.gridItemSingle {
    aspect-ratio: 1/ 1;
    border-radius: 50%;
    grid-column-start: 6;
}

.gridContainerDrop {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, auto);
    padding: 8px 8px 0px 8px;
}

.gridItemDrop {
    aspect-ratio: 1/ 1;
    border-right: dashed 1px darkgrey;
}

.gridItemDrop:first-child {
    border-left: dashed 1px darkgrey;
}

.dragMeItem {
    position: relative;
    grid-column-start: 7;
}

.dragMeText {
    position: absolute;
    width: 100px;
    font-size: 1.5em;
}

@media only screen and (max-width: 480px) {
    .dragMeText {
        font-size: 1.17em;
    }
}