
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    background-color: #333333;
    border: solid 8px #333333;
    border-radius: 5px;
}

.grid-item {
    aspect-ratio: 1/ 1;
    border-radius: 50%;
}

.circle0 {
    background-color: #424246;
}

.circle1 {
    background-color: orange;
}

.circle2 {
    background-color: #dc1b1b;
}

.circle1-drop-area {
    background-color: #49371e;
}

.circle2-drop-area {
    background-color: #431e1d;
}

.grid-container-single {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 8px;
    padding: 8px;
}

.grid-item-single {
    aspect-ratio: 1/ 1;
    border-radius: 50%;
    grid-column-start: 6;
}

.grid-container-drop {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, auto);
    padding: 8px 8px 0px 8px;
}

.grid-item-drop {
    aspect-ratio: 1/ 1;
    border-right: dashed 1px darkgrey;
}

.grid-item-drop:first-child {
    border-left: dashed 1px darkgrey;
}

.drag-me-item {
    position: relative;
    grid-column-start: 7;
}

.drag-me-text {
    position: absolute;
    width: 100px;
    font-size: 1.5em;
}

@media only screen and (max-width: 480px) {
    .drag-me-text {
        font-size: 1.17em;
    }
}